*
{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body
{
    background-color: #0D0149;
}

.nav{
    background-color: #393970;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.nav-search
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-search img{
    padding: 15px;
}

.btn-search
{
    margin: 20px;
}

.btn-search input
{
    background: #2A2D69;
    border: 1px solid #2A2D69;
    border-radius: 15px;
    text-align: center;
    height: 40px;
    cursor: pointer;
}

.btn-search input:hover
{
    color: white;
    border: 1px solid white;
}

.btn-search input:focus
{
    border: 2px solid #0D0149;
}

.btn-search input::placeholder
{
    color: white;
    font-size: 11px;
    letter-spacing: 0.5px;
}

.btn-search img{
    background-color: rebeccapurple;
}

.nav-left
{
    width: 270px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
    margin-top: 5px;
    padding: 10px;
}

.nav-icon
{
    width: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-icon img
{
    border-radius: 50%;
    background-color: #0D0149;
    padding: 6px;
    margin-right: 20px;
    cursor: pointer;
}

.nav-name
{
    word-spacing: 10px;
    margin-left: 28px;
    width: 100px;
    margin-right: 14px;
    margin-top: 4px;
}

#nameuser
{
    font-size: 18px;
    color: white;
    text-align: right;
}

#online
{
    margin-top: 5px;
    text-align: right;
    color: white;
    font-weight: 600;
    font-size: 13px;
}

#online img{
    margin: 0;
    padding: 0;
}

#online span
{
    margin-right: 3px;
}

.click-img
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 110px;
    position: relative;
    right: 57px;
    top: 31px;
    visibility: hidden;
}

.click-img.choice
{
    display: flex;
    background-color: #776DA8;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    cursor: pointer;

}

.click-img.choice p
{
    color: white;
}

.click-img.choice.first
{
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}


aside
{
    background-color: #24234F;
    height: 100%;
    position: fixed;
    width: 17%;
    padding: 10px;
}

.myaside
{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 5px;
    width: 100%;
}

.myaside1, .myaside2
{
    display: flex;
    margin-bottom: 10px;
}

.myaside1 p, .myaside2 p
{
    margin-left: 4px;
    font-size: 12px;
    color: white;
    font-weight: 600;
}

.myaside1 span, .myaside2 span
{
    margin-right: 2px;
}

.myaside1 img, .myaside2 img
{
    margin-right: 3px;
    margin-top: 2px;
}

hr{
    margin-bottom: 10px;
    width: 100%;
    background-color: #7270A8;
    border: none;
    height: 1px;
}

.myaside1.aside
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.myaside1.aside h3
{
    color: #7270A8;
}

.homepage
{
    width: 100%;
    margin-bottom: 17px;
    margin-top: 6px;
    display: flex;
}


.homepage button
{
    border: none;
    background: none;
    font-size: 14px;
    margin-left: 8px;
    color: #DCDCF8;
    cursor: pointer;
}

.section-container
{
    
    width: 67%;
    height: 100%;
    margin-top: 20px;
    margin-left: 23%;
}

.section-image
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.section-image img
{
    width: 100%;
    height: 300px;
    margin: 0 38px;
}

.identification-user
{
    
    position: absolute;
    top: 34%;
    left: 53%;
    width: 95px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.identification-information.rank
{
    margin-right: 40px;
}

.identification-user img
{
    margin-bottom: 16px;
}

.identification-user p
{
    letter-spacing: 0.5px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.identification
{
    background-color: #24244F;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    border-radius: 14px;
}

.identification-header:nth-child(1) 
{
    width: 41%;
    margin-left: 10px;
}

.identification-header
{
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}

.identification-header.one
{
    width: 35%;
}

.identification-header.two
{
    width: 32%;
    margin-right: 52px;
}


.identification-information
{
    margin-left: 10px;
}

.identification hr
{
  width: 1px;
  height: 53px; /* Adjust the height as needed */
  border: none;
  font-weight: 100;
  background-color: #7270A8;
  margin-bottom: 2px;
}

.identification-information h3
{
    color: #5C5B8B;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 7px;
    font-size: 17px;
}


.identification-information p
{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: white;
    font-weight: 600;
    text-align: center;
}

.location
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.location p
{
    margin-left: 5px;
}

.home-page{
    background-color: #22224C;
    margin-left: 23%;
    margin-top: 30px;
    margin-right: 10px;
    width: 67%;
    height: 100%;
    padding-top: 18px;
}

.home-page-counting
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 35px;
}

.home-page-search
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2A2D69;
    border-radius: 5px;
}

.home-page-search input
{
    height: 38px;
    background: none;
    color: white;
    border: none;
    font-family: 'Open Sans', sans-serif;
}

#pet-select option
{
    border: none;
    outline: none;
}

.home-page-search button
{
    background: none;
    outline: none;
    border: none;
    padding-right: 5px;
    width: 20px;
    margin-top: 3px;
    color: #DCDCF8;
    opacity: 0.2;
}

/* .home-page-search input:hover
{
    border: 1px solid #24244F;
} */

.home-page-search input:focus
{
    outline: none;
}

#pet-select
{
    padding: 5px;
    color: #DCDCF8;
    opacity: 0.8;
}

#pet-select:focus
{
    outline: none;
}

.home-page-search input::placeholder
{
    color: #DCDCF8;
    opacity: 0.5;
    padding: 10px;
}

.home-page-search img
{
    background-color: #2A2D69;
}

.home-page-choose select
{
    background-color: #2A2D69;
    color: #FFFFFF;
    height: 40px;
    width: 200px;
    border: none;
    font-family: 'Open Sans', sans-serif;
}

.informationaboutuser
{
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 15%;
    margin-top: 2%;
}

.container-user
{
    background-color: #6C6AA2;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 7px;
}

.nameuser
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 15px;
}

.nameuser h2
{
    font-size: 18px;
    color: #FFF;
    margin-left: 8px;
    font-family: 'Open Sans', sans-serif;
}

.nameuser img
{
    border-radius: 50%;
    padding: 10px;
}

.isconnected
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
    border: 1px solid #D46D0A;
    padding: 5px;
}

.isconnected h2
{
    font-size: 15px;
    margin-left: 7px;
    color: #D46D0A;
}

.isconnected.online, .isconnected.offline
{
    padding-right: 30px;
    margin-right: 8px;
    border: 1px solid #1AE304;
    display: flex;
    align-items: center;
    justify-content: center;
}

.isconnected.online h2
{
    color: #1AE304;
}

.isconnected.offline
{   
    border: 1px solid #E8DE28;
}

.isconnected.offline h2
{
    color: #E8DE28;
}